# Proyecto Individual - Eyeri Méndez Méndez C24765

## Referencias:

https://www.youtube.com/watch?v=Zt3tzGjLmPA

https://plotly.com/python/plotly-express/

https://plotly.com/python/line-and-scatter/

https://plotly.com/python/line-charts/

https://plotly.com/python/filled-area-plots/

https://plotly.com/python/bar-charts/

https://plotly.com/python/pie-charts/

https://plotly.com/python/histograms/

https://plotly.com/python/box-plots/

https://plotly.com/python/violin/

https://plotly.com/python/2D-Histogram/

https://plotly.com/python/2d-histogram-contour/

https://dash.plotly.com/minimal-app

https://dash.plotly.com/layout

https://dash.plotly.com/basic-callbacks

https://dash.plotly.com/dash-core-components

https://dash.plotly.com/dash-html-components

https://dash.plotly.com/dash-in-jupyter

https://stackoverflow.com/questions/35746074/cufflinks-for-plotly-setting-cufflinks-config-options-launches#

https://plotly.com/python/figure-factory-subplots/

In [1]:
import dash
import seaborn as sns
import pandas as pd
from GenerarGraficos import GenerarGraficos

# Se cargan algunos dataframes
iris_df = sns.load_dataset('iris')

titanic_df = sns.load_dataset('titanic')

df_salarios = pd.read_excel(r'C:\Users\em415\Downloads\Proyecto Individual\data\Base_salarios.xlsx')

df_salarios = df_salarios.head(1000)

df_population = pd.read_csv("https://raw.githubusercontent.com/thepycoach/data-visualization/main/datasets/population/population_total.csv")
paises = ['United States', 'India', 'China', 'Indonesia', 'Brazil']
df_population = df_population[df_population['country'].isin(paises)]

df_stocks = pd.read_csv("https://www.sharpsightlabs.com/datasets/amzn_goog_2000-01-01_to_2020-12-05.csv")
df_stocks.date = pd.to_datetime(df_stocks.date)

In [2]:
# Se crea una aplicación de dash vacía
app = dash.Dash(__name__)

prueba = GenerarGraficos(app)

prueba.barras(iris_df, 'species', 'petal_width', 
              ['Setosa', 'Versicolor', 'Virginica'], 
             ['Especies', 'Ancho del pétalo'])

prueba.barras_agrupadas(titanic_df.dropna(), 'survived', 'fare', 'sex', 
                        ['No', 'Sí'], ['Sobrevivió', 'Tarifa'], 
                        ['Sexo', 'Hombre', 'Mujer'])

prueba.barras_apiladas(titanic_df.dropna(), 'survived', 'fare', 'sex', 
                        ['No', 'Sí'], ['Sobrevivió', 'Tarifa'], 
                        ['Sexo', 'Hombre', 'Mujer'])

prueba.histograma(iris_df, 'petal_length', 'sepal_length', 'species',
                  ['Setosa', 'Versicolor', 'Virginica'], 
                  ['Longitud del pétalo', 'Longitud del sépalo'])

prueba.dispersion(titanic_df, 'age', 'fare', 'sex', ['Edad', 'Tarifa'], 
                  ['Sexo', 'Hombre', 'Mujer'], 
                  ['Sobrevivió', 'Clase', 'Edad', 'Sibsp', 'Parche', 'Tarifa'])

prueba.lineas(df_population, 'year', 'population', 'country', 
              ['Año', 'Población'], 
              ['País', 'China', 'Brasil', 'Indonesia', 'Estados Unidos', 'India'])

prueba.cajas(df_salarios, 'Grupo', 'Salario base', 'Género',
             False, False, ['Género', 'Masculino', 'Femenino'])

prueba.violines(titanic_df, 'survived', 'age', 'sex',
                False, ['Sobrevivió', 'Edad'], 
                ['Sexo', 'Hombre', 'Mujer'])

prueba.areas(df_population, 'year', 'population', 'country', 
            ['Año', 'Población'], 
            ['País', 'China', 'Brasil', 'Indonesia', 'Estados Unidos', 'India'])

prueba.pastel(df_salarios, 'Salario base', 'Género', 
             ['Hombre', 'Mujer'])

prueba.mapa_calor(iris_df, 'petal_width', 'sepal_width', 
                  ['Ancho del pétalo', 'Ancho del sépalo'])

prueba.densidad(titanic_df, 'age', 'sex',
               ['Sexo', 'Hombre', 'Mujer'])

prueba.contorno_densidad(df_population, 'year', 'population', 
                         ['Año', 'Población'])

prueba.app.run_server(debug = True)

# Dinámica

## 1. Crear un gráfico de líneas

In [3]:
import plotly.express as px

df_stocks.head()

        date     open     high        low    close  adj_close    volume stock
0 2000-01-03  81.5000  89.5625  79.046875  89.3750    89.3750  16117600  amzn
1 2000-01-04  85.3750  91.5000  81.750000  81.9375    81.9375  17487400  amzn
2 2000-01-05  70.5000  75.1250  68.000000  69.7500    69.7500  38457400  amzn
3 2000-01-06  71.3125  72.6875  64.000000  65.5625    65.5625  18752000  amzn
4 2000-01-07  67.0000  70.5000  66.187500  69.5625    69.5625  10505400  amzn

## 2. Crear un gráfico de cajas

In [4]:
import plotly.express as px

titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True